@import "tailwindcss";
@import "@fontsource/poppins"; /* Defaults to weight 400 */
@import 'locomotive-scroll/dist/locomotive-scroll.css';


* {
   
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

[data-scroll-container] {
  overflow: hidden;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.7s ease-out forwards;
}


/* Animation for triangle 1 (top-left) */
.animate-triangle-1 {
  animation: moveTriangle1 2s ease-in-out forwards;
}

@keyframes moveTriangle1 {
  0% {
    transform: translate(-100px, -100px); /* Start far outside */
    z-index: 20; /* Ensure it's above the image initially */
  }
  50% {
    transform: translate(50px, 50px); /* Move inward to cover the image */
    z-index: 20;
  }
  100% {
    transform: translate(-24px, -24px); /* Move to final position */
    z-index: 0; /* Move behind the image */
  }
}

/* Animation for triangle 2 (bottom-right) */
.animate-triangle-2 {
  animation: moveTriangle2 2s ease-in-out forwards;
}

@keyframes moveTriangle2 {
  0% {
    transform: translate(100px, 100px); /* Start far outside */
    z-index: 20;
  }
  50% {
    transform: translate(-50px, -50px); /* Move inward to cover the image */
    z-index: 20;
  }
  100% {
    transform: translate(24px, 24px); /* Move to final position */
    z-index: 0;
  }
}

/* Animation for triangle 3 (bottom-left) */
.animate-triangle-3 {
  animation: moveTriangle3 2s ease-in-out forwards;
}

@keyframes moveTriangle3 {
  0% {
    transform: translate(-80px, 80px) rotate(45deg); /* Start far outside */
    z-index: 20;
  }
  50% {
    transform: translate(40px, -40px) rotate(45deg); /* Move inward to cover the image */
    z-index: 20;
  }
  100% {
    transform: translate(-16px, 16px) rotate(45deg); /* Move to final position */
    z-index: 0;
  }
}